<div class="row">
  <div class="col-md-12">
    <br>
    <p class="text-center">
      <label class="radio-inline fonte-com-tamanho-maior" *ngFor="let valor of quantidadesAEscolher">
        <input type="radio" name="quantidadeEscolhida" [value]="valor" [checked]="valor == quantidadeDesejadaPeloUsuario" (click)="registrarValorEscolhido(valor)"> {{ valor }} &nbsp;&nbsp;
      </label>
    </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br>
    <p class="text-center">
      <label class="radio-inline fonte-com-tamanho-maior" *ngFor="let tecnica of tecnicasAEscolher">
        <input type="radio" name="tecnicaEscolhida" [value]="valor" [checked]="tecnica == tecnicaEscolhidaPeloUsuario" (click)="registrarTecnicaEscolhida(tecnica)"> {{ tipoDeTecnicaToString(tecnica) }} &nbsp;&nbsp;
      </label>
    </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center">
      <a class="btn btn-primary btn-lg" (click)="recarregarPaginaComOsParametrosEscolhidosPeloUsuario()">Generate</a>
    </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="list-group">
      <li *ngFor="let movimento of idogeiko" class="list-group-item text-capitalize list-group-item-warning">
        {{ movimento.descricao }}
      </li>
    </ul>
    <br>
  </div>
</div>